{% extends 'index.html' %}
{% block head %}
    <title>
        {% block title %}
            {{transaction.title}}
        {% endblock title %}
    </title>
{% endblock head %}
{% block body %}


    <div class="container mt-5" style="margin-bottom:30px;">
        <h2 class='mb-4'><a href="{% url 'home' %}" style="text-decoration:none;">Home</a> < <a href="{% url 'transaction-list' %}" style="text-decoration:none;">Transaction List</a> < Detail</h2>
        <div class="card shadow rounded">
            <div class="card-header bg-primary text-white">
                <h4>{{ transaction.title }}</h4>
            </div>
            <div class="card-body">

                <p><strong>Transaction Type:</strong> {{ transaction.transaction_type }}
                </p>
                {% if transaction.member_transaction %}
                <p><strong>Member Transaction:</strong> <a href="{% url 'member-transaction-detail' transaction.member_transaction.id%}" target="_blank">Click here to view detail</a> </p>
                {% endif %}
                <p><strong>Amount:</strong> {{ transaction.amount }} ৳</p>
                <p><strong>Date:</strong> {{ transaction.date }}</p>
                {% if transaction.detail %}
                <p><strong>Description:</strong> {{ transaction.detail|safe }}</p>
                {% endif %}

                <!-- ✅ Action buttons -->
                <div class="mt-4">
                    <a href="{% url 'transaction-list' %}" class="btn btn-secondary">⬅️ Back to List</a>

                    {% if perms.fin_tracker.change_transaction %}
                    <a href="{% url 'edit-transaction' transaction.id %}" class="btn btn-warning" onclick="return confirm('Are you sure, to edit this transaction?');">✏️ Edit</a>
                    {% endif %}

                    {% if perms.fin_tracker.delete_transaction %}
                    <a href="{% url 'delete-transaction' transaction.id %}" class="btn btn-danger"
                    onclick="return confirm('Are you sure, you want to delete this transaction?');">
                        🗑️ Delete
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock body %}